:root{
    --grey: rgb(71, 69, 69);
    --greyHover:  rgb(235, 229, 229);
    --greyHoverA:  rgb(204, 197, 197);
    --footer: rgb(27, 27, 27);
    --footerCard: rgb(32, 92, 221);
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

/*-- nav ---------------------------- */
.main-nav__button{
    font-weight: 700;
    border: 1px solid rgb(32, 92, 221);
}

#card{
    color: var(--footerCard);
}

/*--main--------------------------------*/
.card-main-section{
    max-width: 800px;
    margin: 2rem auto;
}

.card-main-section header{
    font-size: 1.5rem;
    padding: 1rem;
}

.card-main-section__item{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0;
    align-content: center;
    margin: 0 auto;
}

.card-main-section a{
    background-color: var(--greyHover);
    margin: 0 0.5rem;
    min-height: 100px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    transition: background-color .2s ease-in-out;
    color: var(--grey);
}

.card-main-section a:hover{
    background-color: var(--greyHoverA);
}

.card-main-section__contact{
    color: var(--grey);
    background-color: var(--greyHover);
    margin: 1rem 0.5rem 0 0.5rem;
    text-align: center;
    padding: 1rem;
}

.card-main-section__contact h3{
    font-size: 1.5rem;
}

/*-- footer ---------------------------- */
.main-footer{
    background-color: var(--footerCard);
}

.footer-item__socials a{
    color: var(--footerCard);
}

@media(min-width:450px){
    .card-main-section__item{
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 1rem 0; */
    }

    .card-main-section__item a:nth-last-child(1){
        grid-column: span 2;
    }
}

@media(min-width:650px){
    .card-main-section__item{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-main-section__item a:nth-last-child(1){
        grid-column: span 1;
    }
}

