:root{
    --grey: rgb(71, 69, 69);
    --greyHover:  rgb(235, 229, 229);
    --greyHoverA:  rgb(204, 197, 197);
    --footer: rgb(27, 27, 27);
    --footerCard: rgb(32, 92, 221);
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: var(--grey);
}

/* nav ****************************************************/
.main-nav{
    width: 100%;
    background-color: #efefef;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-nav__brand{
    font-weight: 700;
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.main-nav__item{
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    padding: 0;
}

.main-nav__item li{
    padding: 0.5rem 1rem;
    min-width: 100px;
}

.main-nav__button{
    margin: auto;
    width: 10vw;
    min-width: 100px;
    border: 1px solid rgb(71, 69, 69);
    border-radius: 5px;
    padding: 0.3rem;
    text-align: center;
    display: none;
}

.main-nav a{
    color: var(--grey);
}

.main-nav__item li:hover, .main-nav__button:hover{
    background-color: var(--greyHover);
    font-weight: bold;
}

/*-- main content ---------------------------- */
main{
padding-top: 84px;
}



/*-- footer ---------------------------- */
.main-footer{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    background-color: var(--footerCard);
    color: #fff;
    padding: 2rem 3rem;
    text-transform: uppercase;
}

.footer-item__index a{
    display: block;
    padding: 0.5rem;
    color: #fff;
    font-weight: 700;
}

.footer-item__index a:hover{
     color: var(--greyHoverA);
}

.footer-item__info{
    display: none;
    line-height: 235%;
}

.footer-item__info ol, .footer-item__info h3{
    margin: 0;
    padding: 0;
}

.footer-item__info ol{
    list-style-type: none;
}

.footer-item__socials{
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
    align-items: flex-end;
}

.footer-item__socials a{
    color: var(--footerCard);
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    margin: 1.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD STYLE------------------------------------------------------------------------------------------*/
.main-nav__button{
    font-weight: 700;
}

@media(min-width:455px){
    .main-footer{
        grid-template-columns: 1fr 2fr 1fr;
    }

}

@media(min-width:620px){
    .footer-item__info{
        display: block;
    }
}

@media(min-width:686px){
    .main-nav{
        padding: 0.5rem 2rem;
    }
    .main-nav__brand{
        border-right: 3px solid rgb(124, 124, 124);
    }

    .main-nav__item{
        /* font-size: 1rem; */
        margin-left: 3rem;
    }

    .main-nav__button{
        margin-left: auto;
        margin-right: 0;
        display: block;
    }

}